.thumbnail-wrapper:hover .thumbnail-overlay {
  transform: translateY(0); /* Reveal overlay */
  cursor: pointer;
}

.thumbnail-wrapper img {
  width: 100%;
  max-width: 100%;
}

.project_3-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
}

.project_3-thumbnail img {
  width: 75%;
  height: auto;
}

.project_2-thumbnail--wrapper {
  background: linear-gradient(
    to top,
    rgba(128, 128, 128, 0.685),
    rgb(77, 77, 77)
  );
  position: relative;
}

.project_1-thumbnail--wrapper {
  border: 2px solid rgb(213, 213, 213);
}

.project_1-thumbnail--wrapper,
.project_2-thumbnail--wrapper,
.project_3-thumbnail--wrapper,
.project_4-thumbnail--wrapper,
.project_5-thumbnail--wrapper,
.project_6-thumbnail--wrapper {
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  background-color: #1c1b20;
  max-height: 300px;
}

.project_2-thumbnail--wrapper img {
  width: 100%;
}

.project_1-thumbnail--wrapper:hover .thumbnail-overlay,
.project_2-thumbnail--wrapper:hover .thumbnail-overlay,
.project_3-thumbnail--wrapper:hover .thumbnail-overlay,
.project_4-thumbnail--wrapper:hover .thumbnail-overlay,
.project_5-thumbnail--wrapper:hover .thumbnail-overlay,
.project_6-thumbnail--wrapper:hover .thumbnail-overlay {
  transform: translateY(0);
  cursor: pointer;
}
