:root {
  --primary-gradient: linear-gradient(to bottom, #e5e8ee, #51555b);
  --secondary-gradient: linear-gradient(to bottom, #0777da, #03549b);
  --border-radius: 20px;
  --gap: 24px;
}

/* Title */
.projects-title::before {
  width: 125px;
  left: 66%;
}

.projects--thumbnails__container-outer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 48px 24px 128px 48px;
  gap: var(--gap);
}

/* Modal */
.modal-inner-thumb {
  max-width: 70%;
}

.modal-inner-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_1-thumbnail--wrapper {
  grid-row: 1;
  grid-column: span 2;
}
.project_2-thumbnail--wrapper,
.project_3-thumbnail--wrapper {
  grid-row: 2;
  height: 100%;
}

.project_3-thumbnail--wrapper {
  width: 100%;
  overflow: hidden;
}
.project_4-thumbnail--wrapper {
  background-size: cover;
  border-radius: 20px;
}

.project_4-thumbnail--wrapper img {
  width: 100%;
}

.project_5-thumbnail--wrapper {
  background: var(--primary-gradient);
  max-width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.project_6-thumbnail--wrapper {
  background: var(--secondary-gradient);
  border-radius: 20px;
}

.project_5-thumbnail--wrapper img {
  width: 100%;
}

/* Image Styles */
.thumbnail-wrapper img {
  width: 100%;
  max-width: 100%;
}

.project_6-thumbnail img {
  width: 40%;
}

.project_6-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Sub-grid for Last 3 Projects */

.sub-grid--outer {
  grid-row: 3;
  grid-column: span 2;
}

.sub-grid--inner {
  display: grid;
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
  gap: var(--gap);
}

/* Hover Effect */
.thumbnail-wrapper:hover .thumbnail-overlay {
  transform: translateY(100%);
  cursor: pointer;
}

/* Modal Component */
.modal-component {
  z-index: 8;
}

/* Responsive Styling */
@media screen and (max-width: 780px) {
  .projects--thumbnails__container-outer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 2.4rem;
  }

  .project_3-thumbnail {
    max-height: 50vw;
  }

  .project_3-thumbnail img {
    margin-top: -50px;
  }

  .sub-grid {
    grid-template-columns: 1fr;
    padding-top: 0;
    row-gap: 2.4rem;
  }
}

@media screen and (max-width: 480px) {
  .projects--thumbnails__container-outer {
    padding-top: 1.2rem;
  }

  #projects-section {
    padding-top: 3.6rem;
  }

  .title-container {
    padding-top: 0;
  }
}
